/* SEMANTIC GRID */

$gridgap: 2%;

.site-main {
    overflow-x: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($gridgap / 1);
    margin-right: -($gridgap / 1);
    align-items: center;
    margin-bottom: 1em;

    > * {
        margin: ($gridgap / 2);
        flex-grow: 1;
    }
    &.overlap {
        position: absolute;
    }
    &.centered {
        justify-content: center;
    }
    &.swapped {
        flex-direction: row-reverse;
    }
    &.stacked {
        flex-direction: column;
    }
    &.align-top {
        align-items: flex-start;
    }

    &.nogap {
        margin-left: 0;
        margin-right: 0;
        > * {
            margin: 0;
        }
        @media (min-width: $breakpoint-small) {
            .one-third {
                width: 33.333%;
            }
            .two-thirds {
                width: 66.666%;
            }
        }
    }

    @media (min-width: $breakpoint-small) {
        > * {
            flex-grow: 0;
        }

        .one-whole {
            width: 100% - $gridgap;
        }
        .one-half {
            width: 50% - $gridgap;
        }
        .one-third {
            width: 33.333% - $gridgap;
        }
        .two-thirds {
            width: 66.666% - $gridgap;
        }
        .one-fourth {
            width: 25% - $gridgap;
        }
        .three-fourths {
            width: 75% - $gridgap;
        }

        .push-one-fourth {
            margin-left: 25% + ($gridgap / 2);
        }
        .push-one-third {
            margin-left: 33.333% + ($gridgap / 2);
        }
        .push-one-half {
            margin-left: 50% + ($gridgap / 2);
        }

        .centered {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// FOR DEMO PURPOSES ONLY
.demo {
    box-shadow: inset 0 0 0 1px red;

    .row {
        background-color: rgba(255, 0, 0, 0.1);
        margin-bottom: 0;

        > * {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 1%;
            box-shadow: inset 0 0 0 1px green;
        }
    }
}
